#navigation {
    display: none;
}
#container {
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 100px;
}
#socials {
    width: 40%;
    height: 400px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
#socials div {
    flex-basis: 26.6667%;
    width: 100%;
    text-align: center;
}
#socials svg {
    fill: #21AD77;
    max-width: 70px;
    max-height: 70px;
}
#socials svg:hover {
    fill: #FB4994;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 20px #c0c0c07d);
    filter: drop-shadow(0px 0px 20px #c0c0c07d);
}
/* .onlyfans svg {
    height: 70px !important;
    width: auto !important;
    max-width: 200px !important;
} */
#photo {
    width: 40%;
    max-width: 400px;
}
.btnDiv {
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
  #container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    row-gap: 60px;
  }
  #socials, .btnDiv {
    margin: 0 auto;
    width: 80%;
  }
  #socials {
    margin-bottom: 40px;
  }
  #photo {
    order: 4;
    margin: 40px auto 100px;
    width: 80%;
  }
}