body {
    background-color: black;
    display: flex;
}
#main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top:30vh;
    align-items: center;
}
h1 {
    color: white;
    font-family: "Poppins", sans-serif;
}