.btn {
  background-color: #27CE8E;
  border: 3px solid #A9EFD4;
  border-radius: 100px;
  box-shadow: #FB4994 10px 10px 0 0;
  color: #1B0934;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 22px !important;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5em 2.5em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #54DEA9;
  color: #1B0934 !important;
}

.btn:active {
  box-shadow: #FB4994 5px 5px 0 0;
  transform: translate(5px, 5px);
}

@media (min-width: 768px) {
  .btn {
    min-width: 120px;
    font-size: 18px;
    /* padding: 0 25px; */
  }
}