---
title: About
---

{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
{% endblock %}

{% block main %}
    <div id="photo">
        <img src="../assets/amy-photo.jpg" />
    </div>
    <div id="about">
        <p><span class="label">Name:</span> Amy Z.</p>
        <p><span class="label">Age:</span> 35</p>
        <p><span class="label">Location:</span> Chicago</p>
        <p><span class="label">My Favorite Things:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><span class="label">My Pet Peeves:</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p><span class="label">Why I Stream:</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
    </div>
{% endblock %}