---
title: About
---

{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
{% endblock %}

{% block main %}
    <div id="photo">
        <img src="../assets/amy-photo.jpg" alt="Photo of Amy" />
    </div>
    <div id="about">
        <p><span class="label">Name:</span> Amy Z.</p>
        <p><span class="label">Age:</span> 35</p>
        <p><span class="label">Location:</span> Chicago</p>
        <p><span class="label">My Favorite Things:</span> my dogs, gaming, streaming, especially with friends and loved ones. I have always enjoyed reading, writing and the arts. I love karaoke and I can swing dance too!</p>
        <p><span class="label">My Pet Peeves:</span> Dishonesty and disloyalty are my biggest pet peeves I've had for many years. Blatant disrespect and hate/bullying are also huge No-No's.</p>
        <p><span class="label">Why I Stream:</span> I started because family and friends thought I'd do really well. I was hesitent, but now I can't get enough! The struggles of mental health are real, and streaming is an amazing avenue and outlet. A place for peace and laughter. I stream for the community, to find a place of connection in the virtual world.</p>
    </div>
{% endblock %}