---
title: Cookie Policy
---

{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/cookies.css" />
{% endblock %}

{% block main %}
    <!-- <div id="comingsoon">
        <img src="../assets/amyLogo.png" alt="AmyBabyZ Logo" />
        <h1>Coming Soon</h1>
    </div> -->
    <div id="policy" width="640" height="480" data-policy-key="VUZCMlltMTBNbWg1Y1d4bFRFRTlQUT09" data-extra="h-align=left&table-style=accordion" > Please wait while the policy is loaded. If it does not load, please <a rel="nofollow" href="https://app.termageddon.com/api/policy/VUZCMlltMTBNbWg1Y1d4bFRFRTlQUT09?h-align=left&table-style=accordion" target="_blank">click here</a>. </div><script src="https://app.termageddon.com/js/termageddon.js"></script>
{% endblock %}