---
title: Home
---

{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/index.css" />
{% endblock %}

{% block main %}
    <div id="socials">
        {% for icon in socials %}
        <div><a href="{{icon.link}}" class="{{icon.site}}">{% include icon.svg %}</a></div>
        {% endfor %}
    </div>
    <div id="photo">
        <img src="assets/amy-art.jpg" alt="Artistic image of Amy" />
    </div>
    <div id="shoutBtn" class="btnDiv">
        <a href="/shoutouts" class="btn">SHOUTOUTS</a>
    </div>
    <div id="aboutBtn" class="btnDiv">
        <a href="/about" class="btn">ABOUT ME</a>
    </div>
{% endblock %}
