---
title: Home
---

{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/index.css" />
{% endblock %}

{% block main %}
    <div id="socials">
        {% for icon in socials %}
        <div><a href="{{icon.link}}" aria-label="Link to profile on {{icon.site}}" data-tippy-content="{{icon.site}}" target="_blank">{% include icon.svg %}</a></div>
        {% endfor %}
    </div>
    <div id="photo">
        <img src="assets/amy-art.jpg" alt="Artistic image of Amy" />
    </div>
    <div id="shoutBtn" class="btnDiv">
        <a href="/shoutouts" class="btn">SHOUTOUTS</a>
    </div>
    <div id="troviansBtn" class="btnDiv">
        <a href="https://trovians.com" class="btn">TROVIANS</a>
    </div>
    <div id="aboutBtn" class="btnDiv">
        <a href="/about" class="btn">ABOUT ME</a>
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('[data-tippy-content]', {
            placement: 'bottom',
        });
    </script>
{% endblock %}