---
title: Shoutouts
---

{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/shoutouts.css" />
{% endblock %}

{% block main %}
    <div id="instructions">
        <p>Check out my fellow content creators and streamers! Click each one to learn more.</p>
    </div>
    <div id="friends">
    {% for shout in shoutouts %}
        <a class="popLink" id="{{shout.id}}" onclick="popupOpen(this.id)" href="#"><img src="../assets/shoutLogos/{{shout.logo}}" alt="{{shout.id}} Logo" data-tippy-content="{{shout.title}}" /></a>
    {% endfor %}
    </div>

    <!-- Popup Windows (hidden) -->
    {% for shout in shoutouts %}
        {% shoutPop title=shout.title, id=shout.id, link1=shout.link1, text1=shout.text1, link2=shout.link2, text2=shout.text2, logo=shout.logo, description=shout.description %}
    {% endfor %}
{% endblock %}

{% block script %}
    <script>
        function popupOpen (id) {
            const popup = document.querySelector('#' + CSS.escape(id) + 'Pop');
            popup.style.visibility = "visible";
            popup.style.opacity = 1;
            const overlay = document.querySelector('#overlay');
            overlay.style.visibility = "visible";
            overlay.style.opacity = 1;
        }
        function popupClose () {
            const popups = document.querySelectorAll('.popup');
            popups.forEach(pop => {
                pop.style.visibility = "hidden";
                pop.style.opacity = 0;
            });
            const overlay = document.querySelector('#overlay');
            overlay.style.visibility = "hidden";
            overlay.style.opacity = 0;
        }
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('[data-tippy-content]', {
            placement: 'top',
        });
    </script>
{% endblock %}